@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    overflow: unset;
    white-space: normal;
    font-family: 'Poppins', sans-serif !important;

}


.nav-pages {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);


    color: black;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

}

body a:hover {

    color: #ff5d8f;

}

.contactinfo h2 {
    color: #ff5d8f;
}

.contactinfo p {
    color: black;
}


.navbackground {
    background-color: black;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption {
    text-align: center;
    color: white;
    font-size: 30px;
}

@media screen and (max-width: 700px) {


    .caption {
        font-size: 25px;
    }
}

.margin-bottom {
    margin-bottom: 30px !important;
}

.margin-top {
    margin-top: 30px !important;
}

.width {
    width: 50%;
}

.image {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.90)), url(..//images/creating-perfume-g664cb237b_1920.jpg);
    margin-bottom: 30px;
    height: 960px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.coverphoto {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.90)), url(..//images/bg2.jpg);


    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, right;
}

.mainTitle {
    font-size: 80px;
    text-align: center;
    color: white;

}

@media screen and (max-width: 700px) {


    .mainTitle {
        font-size: 3rem;
    }
}

.btn-theme {
    background-color: white;
    border: none;
    border-radius: 30px;
    color: black;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    position: relative;
    text-transform: uppercase;

}



footer {




    background: #111;

    height: auto;



    padding-top: 40px;

    color: #fff;
}

.footer-content {
    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;

    font-weight: 500;

    text-transform: capitalize;

    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;

    margin: 10px auto;

    line-height: 28px;

    font-size: 14px;

    color: #cacdd2;
}

.socials {
    list-style: none;

    display: flex;

    align-items: center;

    justify-content: center;

    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;

    color: #fff;

    padding: 5px;
}

.socials a i {
    font-size: 1.1rem;

    width: 20px;

    transition: color 0.4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;

    padding: 20px;

    padding-bottom: 50px;

    text-align: center;
}

.footer-bottom p {
    float: left;


    font-size: 14px;

    word-spacing: 2px;
}

.footer-bottom p a {

    color: #ccc;

    font-size: 16px;

    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;

    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;

    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

@media (max-width: 500px) {
    .footer-bottom p {
        float: none;
    }

    .footer-menu ul {
        display: flex;

        margin-top: 10px;

        margin-bottom: 20px;

        text-align: center;
    }
}

.marginleft {
    margin-left: 20px;
}

.bg-color {
    background-color: white;
}

.bg-widget {
    background-image: url(Blog.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

}

#carouselExampleCaptions {
    width: 50%;
    margin: auto;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.discount {
    font-size: 90px;
    line-height: 1;
    margin-bottom: 24px;
}

.topcap {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 14px;
}

.span {
    font-size: 18px;
    font-weight: 500;
    line-height: 5px;
    margin-bottom: 25px;
}

/* (A) BACKGROUND */
#boxBack {
    /* (A1) FULLSCREEN + CENTERED */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;

    /* (A2) TRANSPARENT BACKGROUND + HIDDEN */
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

/* (A3) ADD THIS CSS CLASS TO SHOW */
#boxBack.show {
    display: flex;
}

#boxTxt {
    margin-bottom: 15px;
}

/* (B) DIALOG BOX */
#boxWrap {
    min-width: 320px;
    max-width: 600px;
    padding: 10px;
    background: #fff;
}

.banner {}

.active,
.btn:hover {

    color: #ff5d8f;
}

.widget {
    margin-top: 20px !important;

    margin-bottom: 20px !important;

    background-color: white;

}


.widgetText h4 {
    color: #ff5d8f;
}



.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
    opacity: 1
}

img {

    border-radius: 5px
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content-details p {
    color: #fff;
    font-size: 0.8em
}

.fadeIn-bottom {
    top: 80%
}

.title {
    color: #ff5d8f;
}

.description {
    font-size: 13px;
    color: grey;
}

.object-fit {
    width: 800px;
    max-width: 100%;
}

.cardimage {
    width: 400px;
    max-width: 100%;
}

.blogthumb {

    max-width: 100%
}

.blogtitle {
    margin-bottom: 30px !important;
}

.btn--primary {
    color: white !important;

}

.products img {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    max-width: 100%
}

.products p {
    margin-top: 40px;
}

#submitButton {
    outline: none;

    border: none;
}

.tags {
    outline: none;
    border: none;
}

.price {
    color: #38b000;
    font-size: 36px;
}

.margin-right {
    margin-right: 20px;
}

.max-width {
    max-width: 25rem;
}

.form-control-sm {
    border-radius: none !important;
}

.footer-menu ul li a:is(:link, :active, :visited).active {
    color: #27bcda !important;
}


.blogTags button {
    margin: 2px !important;
    padding: 12px 30px !important;

}

.navbar-nav .dropdown-menu {
    position: absolute !important;
}

#signupText {
    padding: 0 50px;
    font-size: 16px;
}